---
title: About / Contact
layout: layouts/base.njk
eleventyNavigation:
  key: About
  order: 4
---
<div class="home-page">
  <div class="home-page__bg-square"></div>

  {# Hero section #}
  <section class="hero">
    <div class="hero__col">
      <h1 class="hero__title gradient-text">{{ home.about_title }}</h1>
    </div>
    <div class="hero__col">
      {% image
        home.about_image,
        home.about_image_alt,
        "(min-width: 1024px) 50vw, 100vw",
        "hero__image shadow",
        "eager"
      %}
    </div>
  </section>

<section class="about-section">
  <p>
  <br>
  </p>
  <p>
    Hi! I'm Caitlin. I'm a contra dance caller based in Seattle, WA.
    I have always been a dancer, I started ballet at about 6 years old and continued performance dance styles in ballet, modern, and jazz through college.
    I picked up social dancing -- east coast swing, fusion and contra dance -- in Seattle in the early 2010s.
    One of the things that kept me coming back to contra dance was the intergenerational and inclusive communities.
  </p>

  <p>
    As a caller my goal is to use my platform to make everyone feel welcome and comfortable.
    I am passionate about creating programs where experienced dancers can leaving feeling like they've done something new
    while still being inclusive to beginners and less experienced members of the community.
    I have called contra dances in Seattle and New Mexico and am looking forward to expanding that list.
    I also have experience calling family and community dances and am always excited to share this tradition with the next generation and new audiences.
  </p>

  <p>
    I have begun to dabble in contra choreography.
    So far, I have been mostly inspired to make approachable dances with moves we don't see as often at a regular dance night.
  </p>
</section>

  <section class="contact-section">
    <h2>Contact</h2>
    <p>If you'd like to book a dance or ask a question, please reach out via the form below:</p>
    <hr/>
    {% include "partials/form.njk" %}
  </section>

  <h2>Computational Chemistry?</h2>
  <p>
    Did you find my website looking for a computational chemist?
    You're not wrong, that is what I do for a living.
    Professionally, I'm the manager of the Scientific Infrastructure Group at
    <a href="https://www.eyesopen.com/">OpenEye, Cadence Molecular Sciences</a>.
  </p>
  <p>
    I'd love to connect about chemistry too, feel free to reach out on
    <a href="https://www.linkedin.com/in/caitlinbannan/">LinkedIn</a>.
  </p>
</section>