
<footer class="site-footer">
  <small>
    © Caitlin Bannan 2026. Source code on <a href="https://github.com/bannanc/caitlinbannan.com" target="_blank">GitHub</a>.<br>
    Website built with <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>
    using the <a href="https://fernfolio.netlify.app/g" target="_blank">Fernfolio</a> template.<br>
  </small>
</footer>